@charset "utf-8";

/* CSS Document */


.footerLogo span {
    display: none;
}

@media only screen and (min-width:640px) {
.footerMenu {
	width: 980px;
	margin: 0 auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.footerL {
	width: 648px;
	margin-right: 28px;
}

.footerL li {
	display: inline-block;
	width: 200px;
	height: 30px;
}

.footerL li a{
	color:#444444;
}

.footerL li a:hover{
	color:#d86f77;
}




.footerL .fa {
	display:none;
}

.footerR {
	width: 212px;
}

.footerBottom {
	margin-top: 55px;
	border-top: 1px solid #cccccc;
}

.footerTelBg {
	width: 980px;
	height: 101px;
	margin: 0 auto;
	padding-top: 25px;
	background: url(../img/common/footer/footertelbg.gif) 0 0 no-repeat;
}

.footerInquiryBt {
	width: 285px;
	margin-left: auto;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.footerInquiryBt a {
	display: block;
	padding: 15px 0 18px;
}

.footerInquiryBt a:hover {
	background:#f0eeee;
}

.pcFooterInquiryBt {
	width: 285px;
	margin-left: auto;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.pcFooterInquiryBt a {
	display: block;
	padding: 15px 0 18px;
}


.footerCopyRight {
	padding: 15px 0;
	height:50px;
	background-color: #444444;
	text-align: center;
	color: #ffffff;
	font-size:1.1rem;
}

.footerLogo {
	display: block;
	width: 217px;
	height: 124px;
	background: url(../img/common/footer/pcfooterlogo.gif) 0 0 no-repeat;
}

.spPageTop{
	display:none;}


.spFooterTelBt{
	display:none;}

.footerBottomH1{
	display:none;}

.footerBottomH2{
	display:none;}
}



@media only screen and (max-width:639px) {
	
.spPageTop{
	padding:15px;
	border-top:1px solid #ede4e7;
	text-align:center;
	background:#f8f6f7;}

.spPageTop a{
	display:block;
	color:#444444;
	font-weight:bold;
}
	
.spPageTop i{
	display:block;
	font-size:2.4rem;}
	
	
	
.footerMenu {


}

.footerL {
		background:#444444;
}

.footerL li {
	display: block;
	width: 100%;
	padding:15px 0 15px 15px;
	border-bottom:1px solid #AD9B9C;
}

.footerL .fa{
	color:#d86f77;
	width:25px;
}

.footerL a{
	color:#ffffff;
}

.footerLogo {
	display: block;
	width: 261px;
	height:72px;
	margin:34px auto;
	text-align:center;
	background: url(../img/common/footer/spfooterlogo.gif) 0 0 no-repeat;
}



.footerInquiryBt {
	width:80%;
	margin: 0 auto;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.footerInquiryBt a {
	display: block;
	padding: 15px 0 18px;
}


.spFooterTelBt {
	width:80%;
	margin: 0 auto;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.spFooterTelBt a {
	display: block;
	padding: 15px 0 18px;
}





.footerBottom {
	padding:30px 0 25px 0;
	text-align:center;
	background:#d86f77;
}

.footerBottomH1{
	margin-bottom:20px;
	font-size:2.0rem;
	color:#ffffff;
	font-weight:bold;}
	
.footerBottomH2{
	margin:5px 0 15px;
	font-size:1.4rem;
	color:#ffffff;
	font-weight:bold;}	

.footerCopyRight {
	padding: 15px 0;
	height:50px;
	background-color: #444444;
	text-align: center;
	color: #ffffff;

}

}




@media only screen and (max-width:940px) {

#footer .grid {
	float: none;
	width: 100%;
	text-align: center;
}

#footer .grid:last-child {
	padding-top: 20px;
}
}

@media only screen and (max-width:640px) {

#footer .grid p {
	text-align: center;
}
}
