@charset "utf-8";

/* CSS Document */

/*------------------------------------------------------------------
[ 19. Listing Cards ]
*/
.cards-wrapper {
	margin-bottom: -30px;
}

.card {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	margin: 0px 0px 30px 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.card.card-tall {
	height: 630px;
}

.card:before {
	background: -webkit-linear-gradient(top, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 50%);
	background: linear-gradient(to bottom, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 50%);
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	transition: all ease 0.35s;
	width: 100%;
}

.card:after {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0px;
	content: '';
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

.card:hover:before {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.card:hover .card-content {
	padding-top: 0px;
}

.card:hover .card-meta {
	opacity: 1;
	height: 40px;
}

.card:hover .card-actions {
	opacity: 1;
}

.card-background img {
	height: auto;
	width: 100%;
}

.cards-simple-wrapper {
	margin: 0 15px;
	margin-bottom: 0px;
}

.card-simple {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-backface-visiblity: hidden;
	margin-bottom: 10px;
	overflow: hidden;
	-webkit-transform: translateZ(0px);
}

.card-simple:hover .card-simple-background:before {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-backface-visiblity: hidden;
}

.card-simple:hover .card-simple-label {
	margin-top: -25px;
}

.card-simple:hover .card-simple-content {
	padding-top: 0px;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-webkit-backface-visiblity: hidden;
}




@media only screen and (min-width:640px) {
.card-simple-background {
	height: 240px;
	position: relative;
}
}



@media only screen and (max-width:639px) {
.card-simple-background {
	height: 160px;
	position: relative;
}

.special-background {
	height: 90px;
	position: relative;
}

}

.card-simple-background img {
	width: 100%;
}

.card-simple-background:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 75%);
	background: linear-gradient(to bottom, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	transition: all ease 0.35s;
}

.card-simple-background:after {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0px;
	content: '';
	display: block;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

.card-simple-label {
	background-color: #c6af5c;
	color: #fff;
	left: 50%;
	font-size: 13px;
	padding: 3px 15px;
	position: absolute;
	top: 0px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: all ease 0.35s;
	z-index: 2;
}

.card-simple-label a {
	color: #fff;
}

.card-simple-label a:hover {
	color: #fff;
	text-decoration: none;
}

.card-simple-content {
	left: 50%;
	padding-top: 85px;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transition: all ease 0.35s;
	width: 100%;
	z-index: 2;
}

.card-simple-content h2 {
	color: #fff;
	display: block;
	font-size: 20px;
	margin: 0px;
	overflow: hidden;
	padding: 0px 20px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-simple-content h2 a {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-simple-content h2 a:hover {
	text-decoration: none;
}


.card-simple-price {
	background-color: #009f8b;
	bottom: 0px;
	color: #fff;
	font-size: 13px;
	left: 50%;
	padding: 3px 15px;
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	white-space: nowrap;
	z-index: 2;
}

/* superlist.cssから移動 */
  
.row, .categories > ul {
	margin-left: -15px;
	margin-right: -15px;
}

.row:before,  .categories > ul:before,  .row:after, .categories > ul:after {
	content: " ";
	display: table;
}

.row:after, .categories > ul:after {
	clear: both;
}



/* 画像サイズの切り替わり指定 */
  
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .filter .checkbox-wrapper .checkbox, .col-xs-4, .col-sm-4, .categories > ul > li, .col-md-4, .filter .checkbox-wrapper .checkbox, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .filter .checkbox-wrapper .checkbox, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
}

@media (min-width: 940px) {

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .filter .checkbox-wrapper .checkbox, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}

.col-md-1 {
	width: 8.33333%;
}

.col-md-2 {
	width: 16.66667%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4, .filter .checkbox-wrapper .checkbox {
	width: 33.33333%;
}

.col-md-5 {
	width: 41.66667%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 25%;
}


}

@media (max-width: 939px) {

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .filter .checkbox-wrapper .checkbox, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}

.col-md-1 {
	width: 8.33333%;
}

.col-md-2 {
	width: 16.66667%;
}

.col-md-3 {
	width: 50%;
}

.col-md-4, .filter .checkbox-wrapper .checkbox {
	width: 33.33333%;
}

.col-md-5 {
	width: 41.66667%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 50%;
}

}

@media (max-width: 639px) {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .categories > ul > li, .col-sm-5, .col-sm-6, .filter .checkbox-wrapper .checkbox, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}

.col-sm-1 {
	width: 8.33333%;
}

.col-sm-2 {
	width: 16.66667%;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-4, .categories > ul > li {
	width: 33.33333%;
}

.col-sm-5 {
	width: 41.66667%;
}

.col-sm-6, .filter .checkbox-wrapper .checkbox {
	width: 50%;
}

.col-sm-7, .filter .checkbox-wrapper .checkbox {
	width: 100%;
}

.col-md-7 {
	width: 100%;
}

.col-md-7 .card-simple{
	width:30%;
	float:left;}

}
